<div class="wrapper container">
  <div class="row"><h4 style="margin: 18px;">Trainings for emotions recognition</h4></div>
  <button class="btn btn-info addprj-button" type="button">Crear entrenamiento</button>
  {{> addtrainingmodal}}
  <ul class="elements-list">
    {{#each training}}
    <li data-projid="{{_id}}">
      <div class="ok-icon"></div>
      Nombre: {{name}} Trained Status: {{trainedStatus}}
    </li>

  </ul>
</div>
  {{/each}}
</div>
