<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="javascripts/vendor/jquery-1.11.3.min.js" type="text/javascript"></script>
      <script src="javascripts/clientjs.js" type="text/javascript"></script>
      {{script}}
  </head>
  <body>
  <div class="topnavbar navbar navbar-default navbar-fixed-top">
    <div id="logos">
      <img src="/images/logo-h4.png" alt="" />
      <img style="margin-top: 4px;" src="/images/logo-mindset.jpg" alt="" />
    </div>
    <div class="navbar-header">
        <a href="/" class="navbar-brand">Tweet Panel</a>
        <span class= "navbar-brand" style="padding: 19.5px 0px;">|</span>
        <a href="/trainings" class="navbar-brand">Trainings</a>
    </div>
      <div class="container">

          <div class="navbar-collapse collapse" id="navbar-main">

              <ul class="nav navbar-nav navbar-right">
                  <li><a href="">Powered By Creepy Coconuts</a></li>
              </ul>

          </div>
      </div>
  </div>
  <div>
    {{{body}}}
  </div>
  </body>
</html>
