<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="javascripts/vendor/jquery-1.11.3.min.js" type="text/javascript"></script>
      <script src="javascripts/clientjs.js" type="text/javascript"></script>
      {{script}}
  </head>
  <body>
  <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              <a href="/" class="navbar-brand">Debate H4ckademy</a>
          </div>
          <div class="navbar-collapse collapse" id="navbar-main">

              <ul class="nav navbar-nav navbar-right">
                  <li><a href="">Powered By Creepy Coconuts</a></li>
              </ul>

          </div>
      </div>
  </div>
  <div>
    {{{body}}}
  </div>
  </body>
</html>
