body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#logos {
  display: inline-block;
  float: left;
}
#logos img {
    max-height: 50px;
}

.add-person-section {
  background-color: #E6E6E6;
  margin-bottom: 19px;
  margin-top: -21px;
  padding: 10px;
  display: none;

}

.mindset-logo {
  padding: 9px;
}

.addprojectrow {
    margin-bottom: 70px;
}

.main-title {
  margin: 28px 0 5px 0;
  text-align: center;
}

.addelementrow {
  min-height: 70px;
}

.elements-list li {
  padding: 10px;
  background-color: #F5F5F5;
  list-style-type: none;
  margin-bottom: 10px
}

.addprj-button {
  float: right;
}

.topnavbar {
  background-color: #272823;
}
.persona-card {
  background-color: #F5F5F5;
  margin-bottom: 5px;
  padding: 15px;
}
.btn {
  margin: 5px;
}
.ok-icon, .error-icon {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  float: right;
}
.ok-icon {
  background-image:url('/icons/ok-icon.svg');
}
.error-icon {
  background-image:url('/icons/error-icon.svg');
}
.error-text {
  color: #d56464;
  display: inline-block;
  padding: 10px;
}
.emotion-title {
  font-weight: bold;
  font-size: 21px;
}
.charNum {
  float: right;
}
textarea.tweet-area {
  max-width: 510px;
  margin: auto;
}

.spinner {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  float: right;
}

.spinner > div {
  background-color: rgba(51, 51, 51, 0.28);
  height: 100%;
  width: 6px;
  display: inline-block;
  margin: 1px;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
