body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.persona-card {
  background-color: #F5F5F5;
  margin-bottom: 5px;
  padding: 15px;
}

.btn {
  margin: 5px;
}
