<!-- user input dialog -->
<div class="add-person-section">
  <h4>Nueva persona</h4>

  <!-- input form. you can press enter too -->
  <form>
    <input data-trainingid="{{training._id}}" class="personname form-control" style="max-width: 300px; display: inline-block;" type="text" placeholder="Nombre de la persona">
    <input data-trainingid="{{training._id}}" class="facespath form-control" style="max-width: 500px; display: inline-block;" type="text" placeholder="Path donde se encuentran las imágenes">
    <button data-trainingid="{{training._id}}" type="submit" class= "btn" onclick="event.preventDefault(); clickAddPerson(this)"> Crear Persona </button>
    <button type="button" class="btn" onclick="hidePanel(this, '.add-person-section')"> Cancelar </button>
  </form>

</div>
